.profil {
  min-height: calc(100vh - 120px);
  width: 90%;
  max-width: 1280px;
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: $color-tertiary;

  &__user {
    width: 100%;
    margin: 2rem 0;

    &__main {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
  
      &__name {
  
        h1 {
          font-size: 3rem;
          @include media('>=tablet') {
            font-size: 6rem;
          }
        }
  
        h2 {
          font-size: 1.5rem;
          font-weight: 700;
          color: $color-secondary;
          @include media('>=tablet') {
            font-size: 3rem;
          }
        }
      }
    }

    &__description {
      margin: 1rem 0;

      p {
        text-align: left;
      }
    }

    &__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      @include media('>=tablet') {
        justify-content: flex-start;
      }

      &__btn {
        font-size: .8rem;
        padding: .5rem;
        margin-right: .6rem;
        background-color: $color-tertiary;
        border: none;
        border-radius: 10px;
        color: $color;
      }

      .delete {
        background-color: $color-quaternary;
      }
    }
  }

  &__trips {

    &__title {
      font-size: 1.5rem;
      padding: .5rem 1rem;
      color: $color;
      background-color: $color-secondary;
      @include media('>=tablet') {
        font-size: 3rem;
      }
    }
  }
}