.back-office {
    padding: 20px;
    color: $color;
    background-color: $color-secondary;
    margin: 20px;

    &__title {
    text-align: center;
    font-size: 2em;
    padding: 20px;
    }
    &__link {
        padding: 5px;
        font-weight: bold;
        font-size: 1.5em;
    }
}