.dashboard-nav {
    background-color: $color-secondary;
    height: 500px;
    max-width: 180px;
    color: $color;


    &__title {
    text-align: center;
    font-size: 2em;
    padding: 20px;
    }
    &__link {
        padding: 20px;
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
    }
}