.home {

  &__top {
    height: calc(100vh - 60px);
    @include media('>=tablet') {
      height: calc(100vh - 72px);
    }

    &__search {
      height: calc(100vh - 160px);
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;

      &__bg {
        width: 80%;
        height: 195px;
        background-color: rgba(59, 113, 96, .4);
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media('>=tablet') {
          width: fit-content;
          height: fit-content;
          padding: 20px;
        }
      }
    }

    &__baseline {
      height: 100px;
      padding: 0 5%;
      background-color: $color-secondary;
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        color: $color;
        font-size: 1.5rem;
        @include media('>=tablet') {
          font-size: 2.5rem;
        }
      }
    }
  }

  &__bottom {
    width: 90%;
    margin: 2rem auto;
    @include media('>=tablet') {
      max-width: 1280px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__img {
      width: 100%;
      height: fit-content;
      margin-bottom: 2rem;
      @include media('>=tablet') {
        width: 46%;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }

    &__text {
      margin-bottom: 2rem;
      @include media('>=tablet') {
        width: 46%;
      }

      p {
        margin-bottom: .8rem;
      }

      p:last-child {
        margin-top: 2rem;
      }
    }

    &__btn {
      display: block;
      width: fit-content;
      margin: 1rem auto 0;
      padding: .5rem .8rem;
      font-weight: 700;
      color: $color;
      background-color: $color-secondary;
      border-radius: 10px;
      transition: .3s ease-in-out;
      @include media('>=tablet') {
        margin-left: 0;
      }

      &:hover {
        background-color: $color-tertiary;
      }
    }
  }
}

.bg1 {
  background-image: url('../../assets/images/home1.jpg');
}

.bg2 {
  background-image: url('../../assets/images/home2.jpg');
}

.bg3 {
  background-image: url('../../assets/images/home3.jpg');
}

.bg4 {
  background-image: url('../../assets/images/home4.jpg');
}