.homepage_container {
    background-color: $color;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}
.searchbar {
    text-align: center;
}

.homepage_title {
    color: $color;
    font-family: 'Bowlby One SC', cursive;
    font-size: 30px;
    
}

.homepage_form {
    background-color: $color-secondary;
    border-radius: 25%;
    height: 250px;
    width: 250px;
    
}

.homepage_news {
    background-color: $color;
}