// Import / Use vars stylesSheet
@use 'src/styles/vars';
// FONT
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

.homepage_container {
    background-color: vars.$color-primary;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}
.searchbar {
    text-align: center;
}

.homepage_title {
    color: vars.$color-primary;
    font-family: 'Bowlby One SC', cursive;
    font-size: 30px;
    
}

.homepage_form {
    background-color: vars.$color-secondary;
    border-radius: 25%;
    height: 250px;
    width: 250px;
    
}

.homepage_news {
    background-color: vars.$color-primary;
}