.dashboard {
    display: flex;
    flex-wrap: wrap;
}


.dashboard-sports {
    background-color: white;
    padding: 20px;
    font-size: 1.5em;
    width: 92%;
    
    &__form {
    padding: 100px;
    
    &__title {
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    &__input {
        display: flex;
        justify-content: center;
        padding: 8px;
        border-radius: 30px;
        margin-top: 20px;
    }

    &__textarea {
        display: flex;
        justify-content: center;
        padding: 20px;
        border-radius: 10px;
        margin: 10px 0;
    }

    &__select {
        padding: 5px 30px;
        margin: 20px 0;
    }

    &__button {
        padding: 10px 30px;
        margin: 10px;
        background-color: black;
        color: white;
        border-radius: 30px;
        font-size: 1rem;
        font-weight: bold;

    }

    &__button:hover {
        color: black;
        background-color: white;
        transition: all 0.3s ease-in-out;
    }

    }

    
}