.dashboard-sports {
  padding: 2rem;

  &__form {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__title {
      font-size: 1.5em;
      color: $color-secondary;
      margin-bottom: 1rem;
    }

    &__label {
       margin-bottom: 0.5rem;
    }

    &__input {
      width: 300px;
      padding: 8px;
      margin-bottom: 1.5rem;
      border-radius: 10px;
      color: $color-secondary;
      background-color: #dddddd;
      border: solid 2px $color-secondary;
    }

    &__textarea {
      width: 300px;
      display: flex;
      justify-content: center;
      padding: 20px;
      border-radius: 10px;
      margin-bottom: 1.5rem;
      color: $color-secondary;
      background-color: #dddddd;
      border: solid 2px $color-secondary;
      border-radius: 30px;
    }

    &__select {
      width: 300px;
      height: 30px;
      padding: 0 .3rem;
      color: $color-secondary;
      border: solid 2px $color-secondary;
      border-radius: 10px;
      margin-bottom: 1.5rem;
    }

    &__button {
      height: 30px;
      background-color: $color-secondary;
      color: $color;
      padding: 0.3rem;
      border: none;
      border-radius: 10px;
      transition: 0.2s ease-in-out;

      &:hover {
        color: $color;
        background-color: $color-tertiary;
      }
    }
  }
}
