.dashboard-profiles {
  padding: 2rem;
  @include media('<=phone') {
    padding: 0rem;
    margin: 1rem;
  }

  &__form {

    &__title {
      font-size: 1.5rem;
      color: $color-secondary;
      margin-bottom: 1rem;
      @include media('<=phone') {
        margin-top: 2rem;
      }
    }

    &__label {
      margin-right: .5rem;
      @include media('<=phone') {
        display: flex;
        flex-direction: column;
    }
  }

    &__select {
      width: 150px;
      height: 30px;
      padding: 0 .3rem;
      color: $color-secondary;
      border: solid 2px $color-secondary;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      margin-right: .3rem;
      @include media('<=phone') {
       margin-top: 1rem;
        }
    }

    &__button {
      height: 30px;
      background-color: $color-secondary;
      color: $color;
      padding: .3rem 0.8rem;
      border: none;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      transition: .2s ease-in-out;

      &:hover {
        background-color: $color-tertiary;
      }
    }
  }
}