/** Colors (mains Colors) 
Colors from graphical chart see google docs
*/
$color-primary:  #f1FAEE;
$color-secondary:  #3B7160;
$color-tertiary:  #2f3140;
$color-quaternary: #873a4f;
$color-quinary:  #1e3859;
$color-senary:  #4B8CA6;
$color-septenary: #A7D9D9;




