.login-page {
    // flex-wrap: wrap;
    border: 1px solid black;

    &__description {
        color: $color_quaternary;
        font-size: 1.1em;
        font-weight: 700;
        line-height: 1.2em;
        border: 1px solid black;
        padding: 20px;
    }

    &__form {
        // display: flex;
        color: $color_quaternary;
        font-weight: bold;
        padding: 2em;
        border: 1px solid black;
       

        &__label {
            border: 1px solid black;
        }

        &__input {
         padding: 10px;
         border-radius: 5px;
         border: 1px solid black;
        }

        &__button {
            padding: 15px;
            margin: 20px 0;
            background-color: $color_quaternary;
            color: $color;
            border-radius: 10px 100px / 120px;
            border: 1px solid $color_secondary;
            font-weight: bold;
        }
     }

     

}
