.dashboard {
    display: flex;
    flex-wrap: wrap;
}


.dashboard-trips {
    background-color: white;
    padding: 20px;
    font-size: 1.5em;
    width: 76.5%;
    
    &__form {
    padding: 20px;


    &__button {
        padding: 10px;
        margin: 10px;
        background-color: black;
        color: white;
        border-radius: 30px;

    }

    }

    
}