.category_container {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  // height: 200px;
  align-content: center;
}

.sport_card {
  border: solid 1px black;
  width: 150px;
  height: 400px;
  margin: 5px;
  text-align: center;
}